{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <div class="form-group">
                    <big class="text-muted ml-2">
                        <h5>Voter ID</h5>
                    </big>
                    {% if form.Voter_ID.errors %}
                        {{ form.Voter_ID(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Voter_ID.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Voter_ID(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>

            <fieldset class="form-group">

                <div class="form-group">
                    <big class="text-muted ml-2">
                        <h5>Voter ID Confirm</h5>
                    </big>
                    {% if form.Voter_ID_Confirm.errors %}
                        {{ form.Voter_ID_Confirm(class="form-control form-control-lg is-invalid") }}
                        
                        <div class="invalid-feedback">
                            {% for error in form.Voter_ID_Confirm.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Voter_ID_Confirm(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info">Submit</button>
            </div>
            
        </form>
    </div>
{% endblock content %}