{% extends "layout.html" %}
{% block content %}  
<form action="/poll">
    {% for key, value in data.items() %}
    <div class="radio">
        <table>
            <th><img class="rounded-circle account-img" src="static/Party_img/{{ value }}"></th>
            <th><label><input type="radio" name="field" value="{{ key }}"> {{ key }}</th>
        </table>
    </div>
    {% endfor %}
    <input type="submit" value="Vote" clas="btn btn-primary btn-sm"/>
</form>  
{% endblock content %}